.body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    line-height: 1.5;
    color: rgb(215, 208, 208);
}
.header_11 {
    display: flex;
    justify-content: space-between;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    max-width: 1920px;
    margin: 0 auto;
    height: 100vh;
    min-height: 1000px;
}
.h1 {
    font-size: 30px;
    line-height: 32px;
    font-weight: 700;
}


.first {
    width: 70%;
    display: flex;
    align-items: center;
}
.links {
    width: 30%;
    display: flex;
    flex-direction: column;
}
.link {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}